.container{
    font-family: Arial, Helvetica, sans-serif
}
.jumbotron{
    background-color: #1d2951;
    color: white;
    text-align: center;
    
}

.searchForm{
    padding: 20px;
   
}
.card{
    margin-bottom: 20px;

}

button.link{
    background: none;
    border: none;
}

button.hover{
    text-decoration: underline;
}
#topArticles{

}